<section class="wrap" aria-labelledby="entry-title">
  <h1 id="entry-title">Abbreviations</h1>
  <p>Enter abbreviations into the first column and their meanings into the
    second; for example, you would enter ASAP into the first field and "As
    Soon As Possible" into the one next to it. Click the add button to create
    more fields. When you've entered the ones you need to record, click the
    save button. You can always return here later to add more.</p>

  <form method="post" action="{{ function('admin_url', 'admin-post.php') }}">
    <div id="abbreviator-form">
      <abbreviator></abbreviator>
    </div>

    {{ function('wp_nonce_field', action, nonce, true, false) }}
    <button type="submit" class="button button-primary" name="action" value="{{ function('esc_attr', action) }}">
      Save Abbreviations
    </button>
  </form>
</section>
